*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, header, section, nav{
    width:100%;

}

a{
    text-decoration: none;
    color:white;
}
li{
    list-style: none;
}

.container{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
} 
body{
    background-image: url("../images/meetings-page-bg.jpg");
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

video{
    filter: opacity(0.3);
    
    
}
header{
    background-color: black;
    height: calc(100vh - ( -12vh));
    
 
   
}



.barra-menu {
    background-color: rgba(255, 255, 255, 0.152);
    height: 80px;
    display: grid;
    /* grid-template: 'logo ... menu ';
    align-content: space-around;
    align-items: center; */
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 3s ease-in;
      
}


.barra-menu .container{
    display: grid;
    grid-template: 'logo ... menu ';
    align-content: space-around;
    align-items: center;
}

.menu{
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  text-align: center;
    
    
}
.link-menu{
    gap: 7%;
    font-size: 1.2em;
    padding: 20% 0;
    align-items: center;
    align-content: center;
    display: inline-grid;
   
}
.link-menu:hover{
    background-color: rgba(159, 44, 48, 0.77);
  
}

.logo{
    color: aliceblue;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
}



/* efeitos na barra de menu quando scroll */


/* FIM de efeito no menu */

.title{
    width: 40%;
    color:white;
    position: absolute;
    bottom: 9em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.05em;
}

.title h2{
    font-size: 0.9em;
}

.title button, button{
    color: white;
    background-color: rgb(159, 44, 47);
    border: none;
    border-radius: 50px;
    padding: 2% 5%;
    margin-top: 5%;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
}


.meetings{
    width: 100%;
    /* border: solid; */
    position: relative;
    bottom:10em;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-auto-flow: column; 
    grid-template-areas: 'prev  blocos next';
    align-items: center;
    
}

.blocos{
    width: 90%;
    grid-area: blocos;
    text-align: center;
    margin: 0 auto;
    /* overflow-x:scroll;  */
    display: inline-flex;
    position:relative;
    flex-direction:row;
    float: right;
    flex-wrap: nowrap; 
   

}

.bloco-meeting{
    background-image: url('../images/service-item-bg.jpg');
    width: 35%;
    float: left;
    margin: 0 1%;
    padding: 4%;
    text-align: center;
    border-radius: 5%;
    color: white;     
    
}


.bloco-meeting h3{
    padding: 5%;
}


.btn-prev{
    grid-area: prev;
    }
    
.btn-next{
    grid-area: next;
    }

.agenda{
    width: 100%;
    max-width: 1200px;
    text-align: center;
    color:white;
    margin: 2% auto;
}

.agenda-main{
    display: grid;
    width: 100%;
    grid-template: 
    'lista eventos';
    grid-template-columns: 30% 70%;
    align-items: flex-start;
 
    

}

.agenda-categorias{
    width: 100%;
    background-color: white;
    color:#333;
    padding:2%;
    padding-bottom: 5%;
    padding-top: 5%;
    margin: 10% 0;
    border-radius: 25px ;
    grid-area: lista;
    
}
.agenda-categorias ul{
    text-align: left;
    padding: 0 2% ;
}

.agenda-categorias li{
    text-align: left;
    padding: 2% 2% ;
    
}

.agenda-categorias hr{
   width: 100%;
   margin: 5% auto;

}

.agenda-eventos{
    grid-area: eventos;
    display: flex;
    flex-wrap: wrap;
    flex-flow: wrap;
    justify-content: space-around;
    margin: 5% 0;
  
}

.evento{
    margin: 0 2%;
    margin-bottom: 5%;
    background-color: white;
    color:#333;
    border-radius: 25px;
    padding-bottom: 5% ;
    position: relative;
    

}

.img-evento img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.preco-evento{
    background-color: rgba(255, 255, 255, 0.818);
    position: absolute;
    left: 2%;
    margin-top: 5%;
    margin-left: 2%;
    padding: 2% 3%;
    font-weight: 700;
    border-radius: 25px;
}

.info-evento{
    display: grid;
    grid-template-columns:20% 70% ;
    grid-template-areas:'data info' ;
    text-align: left;
    padding-top: 5%;
}

.data-evento{
    grid-area: data;
    text-align: center;
    font-weight: 900;
    color: rgb(159, 44, 47);
}

.titulo-evento{
    grid-area: info;
    
}

.titulo-evento p{
    padding-top: 5%;
}
